<% content_for :title do %>
    <%= @user.name %>の詳細
<% end %>

<h1 class="text-center" ><%= @user.name %>の詳細</h1>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <table class="table table-bordered">
      <tr>
        <th>社員CD</th>
        <td><%= @user.emp_id %></td>
      </tr>

      <tr>
        <th>社員名称</th>
        <td><%= @user.name %></td>
      </tr>

      <tr>
        <th>所属事業署名</th>
        <td>
          <% unless @user.jigyosho_id.blank? %>
            <%#= Jigyosho.find_by(cd: @user.jigyosho_id).name %>
            <%= @user.jigyosho.name%>
            <%= link_to "詳細", jigyosho_path(@user.jigyosho_id) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th>生年月日</th>
        <td><%= @user.birthday.to_s[0..3] %>年
            <%= @user.birthday.to_s[4..5] %>月
            <%= @user.birthday.to_s[6..7] %>日
        </td>
      </tr>

      <tr>
        <th>電話番号1</th>
        <td><%= @user.phone1 %></td>
      </tr>

      <tr>
        <th>電話番号2</th>
        <td><%= @user.phone2 %></td>
      </tr>

      <tr>
        <th>郵便番号</th>
        <td><%= @user.zip %></td>
      </tr>

      <tr>
        <th>住所</th>
        <td><%= @user.address %></td>
      </tr>

      <% unless @user.other.blank? %>
      <tr>
        <th>備考欄</th>
        <td><%= @user.other %></td>
      </tr>
      <% end %>

      <tr>
        <th>表示フラグ</th>
        <td><%= @user.flg %></td>
      </tr>
    </table>
  </div>
</div>
