<p id="notice"><%= notice %></tr>

<table class="table table-bordered">


<tr>
  <th>Emp:</th>
  <td><%= @user.emp_id %></td>
</tr>

<tr>
  <th>Name:</th>
  <td><%= @user.name %></td>
</tr>

<tr>
  <th>Jigyosho:</th>
  <td><%= Jigyosho.find_by(cd: @user.jigyosho_id).name %></td>
</tr>

<tr>
  <th>Birthday:</th>
  <td><%= @user.birthday %></td>
</tr>

<tr>
  <th>Phone1:</th>
  <td><%= @user.phone1 %></td>
</tr>

<tr>
  <th>Phone2:</th>
  <td><%= @user.phone2 %></td>
</tr>

<tr>
  <th>Zip:</th>
  <td><%= @user.zip %></td>
</tr>

<tr>
  <th>Address:</th>
  <td><%= @user.address %></td>
</tr>

<tr>
  <th>Other:</th>
  <td><%= @user.other %></td>
</tr>

<tr>
  <th>Flg:</th>
  <td><%= @user.flg %></td>
</tr>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
