<%= form_for(@jigyosho) do |f| %>
  <% if @jigyosho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jigyosho.errors.count, "error") %> prohibited this jigyosho from being saved:</h2>

      <ul>
      <% @jigyosho.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cd %><span>*</span><br>
    <%= f.text_field :cd %>
  </div>
  <div class="field">
    <%= f.label :name %><span>*</span><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ryakusho %><span>*</span><br>
    <%= f.text_field :ryakusho %>
  </div>

  <div class="field">
    <%= f.label "開設期間" %><span>*</span><br>
    <%= f.number_field :from_ymd %>
    <%= f.number_field :to_ymd %>
  </div>


  <div class="field">
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :sort_num %><br>
    <%= f.number_field :sort_num %>
  </div>
  <div class="field">
    <%= f.label :flg %><span>*</span><br>
    <%= f.select :flg,[["1 (表示する)" , 1],["0 (表示しない)", 0]], selected: 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
