<% content_for :title do %>
    事業所テーブル
<% end %>

<p id="notice"><%= notice %></p>
<h1>事業所テーブル</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>会社CD</th>
      <th>会社略称</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jigyoshos.each do |jigyosho| %>
      <tr>
        <td><%= jigyosho.cd %></td>
        <td><%= jigyosho.ryakusho %></td>
        <td><%= link_to '詳細', jigyosho %></td>
        <td><%= link_to '編集', edit_jigyosho_path(jigyosho) %></td>
        <td><%= link_to '削除', jigyosho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jigyosho', new_jigyosho_path %>
