<% content_for :title do %>
    事業所テーブル
<% end %>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h1>事業所テーブル</h1>
    <!-- エラーメッセージ -->
    <p id="notice"><u><%= notice %></u></p>
    <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-1"><%= sort_table "cd", "会社CD" %></th>
        <th class="col-sm-2"><%= sort_table "ryakusho", "会社略称" %></th>
        <th class="col-sm-3"><%= sort_table "mail", "連絡先" %></th>
        <th class="col-sm-1">所属人数</th>
        <th class="col-sm-2"></th>
      </tr>
    </thead>

    <tbody>
      <% @jigyoshos.each do |jigyosho| %>
        <tr>
          <td><%= jigyosho.cd %></td>
          <td><%= jigyosho.ryakusho %></td>
          <td><%= jigyosho.mail %></td>
          <td><%= jigyosho.users.count %>人</td>
          <td>
          <%= link_to '詳細', jigyosho, class: "btn btn-default btn-sm" %>
          <%= link_to '編集', edit_jigyosho_path(jigyosho), class: "btn btn-default btn-sm" %>
          <% if jigyosho.flg == 1 %>
            <%= link_to '削除' ,logical_destroy_jigyosho_path(jigyosho), class: "btn btn-danger btn-sm", method: "PATCH", data: { confirm: 'このデータを”論理”削除しますがよろしいですか？' } %>
          <% else %>
            <%= link_to '削除' ,logical_destroy_jigyosho_path(jigyosho), class: "btn btn-danger btn-sm", method: "PATCH", data: { confirm: 'このデータを”物理”削除しますがよろしいですか？' } %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <%= link_to '事務所追加', new_jigyosho_path, class: "btn btn-primary" %>
  </div>
</div>

 <%#= link_to 'test', jigyoshos_path, class: "btn btn-danger" %>