<p id="notice"><%= notice %></p>

<p>
  <strong>Cd:</strong>
  <%= @jigyosho.cd %>
</p>

<p>
  <strong>Name:</strong>
  <%= @jigyosho.name %>
</p>

<p>
  <strong>Ryakusho:</strong>
  <%= @jigyosho.ryakusho %>
</p>

<p>
  <strong>From ymd:</strong>
  <%= @jigyosho.from_ymd %>
</p>

<p>
  <strong>To ymd:</strong>
  <%= @jigyosho.to_ymd %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @jigyosho.mail %>
</p>

<p>
  <strong>Sort num:</strong>
  <%= @jigyosho.sort_num %>
</p>

<p>
  <strong>Flg:</strong>
  <%= @jigyosho.flg %>
</p>

<p>所属者一覧表（test）</p>
<p>社員CD:社員名称</p>
<% User.where(jigyosho_id: @jigyosho.cd).each do |user| %>
  <p><%= user.emp_id %>：<%= user.name %></p>
<% end %>

<%= link_to 'Edit', edit_jigyosho_path(@jigyosho) %> |
<%= link_to 'Back', jigyoshos_path %>
