<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "マスターテーブル" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs">
     <li role="presentation" class="<%= active?("users") %>"><a href="<%= users_path %>">社員テーブル</a></li>
     <li role="presentation" class="<%= active?("jigyoshos") %>"><a href="<%= jigyoshos_path %>">事業所テーブル</a></li>
  </ul>

  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted"></p>
  </div>
</footer>

</body>
</html>
